@import url('https: //fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&display=swap');

:root {
    /* #primary colors */
    --primary-red: hsl(0, 100%, 67%);
    --yellow: hsl(39, 100%, 56%);
    --Green: hsl(166, 100%, 37%);
    --blue: hsl(234, 100%, 45%);

    /* gradients colors */
    --Light-slate-blue-background: hsl(252, 100%, 76%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);
    --Violet-blue-circle: hsl(241, 81%, 54%);
    --Persian-blue-circle: hsl(241, 72%, 46%, 0);

    /* Neutral */
    --Neutral-white: hsl(0, 0%, 100%);
    --Neutral-Pale-blue: hsl(221, 100%, 96%);
    --Neutral-Light-lavender: hsl(241, 100%, 89%);
    --Neutral-Dark-gray-blue: hsl(224, 30%, 27%);

    /* font-weights */
    --font-weight-normal: 500;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

}


body>* {
    font-family: 'Hanken', 'Grotesk', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.result-summary-container{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* background-color: var(--Neutra-Pale-blue); */
    display: flex;
    width:  500px;
    margin: 0 auto;
}
.result-container{
    flex: 1;
}
.result-secondContainer{
    text-align: center;
    padding: 50px;
    background-image: linear-gradient(var(--Light-slate-blue-background),var(--Light-royal-blue-background));
    border-radius: 40px;
}
.result-secondContainer>h3{
    color: var(--Neutral-Light-lavender);
    margin: 0;
    padding: 0;
}
.result-secondContainer>h2{
    color: var(--Neutral-white);
}
.circle-content{
    padding: 20px;
}
.result-description{
    color: var(--Neutral-Light-lavender);
    text-align: center;
    margin: 0;
    padding: 0;
}
.summary-content{
    border: 2px solid var(--Neutral-Dark-gray-blue);
    width: fit-content;
    word-spacing: 2rem;
}
.circle-content>h1{
    font-size: 3.7rem;
    margin-top: 7px;
    margin-bottom: 0;
    font-family: 'Hanken';
    font-weight: var(--font-weight-extra-bold);
    color: var(--Neutral-white);
}
.circle-content>p{
    margin: 0;
    color: var(--Neutral-Light-lavender);
}

.circle-container{
    width: 100%;
    height: 9rem;
    border-radius: 50%;
    background-image: linear-gradient(var(--Persian-blue-circle), var(--Violet-blue-circle));
}

.summery-container{
    overflow-y: auto;
    flex: 1;
}

.summery-secondContainer{
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    /* border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.detailed-summary{
    /* display: flex; */
    /* flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.detailed-summary >li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 13px;
}

.detailed-summary > li:last-child{
    border-bottom: none;
}

/* .detailed-summary .summary-Reaction,
.detailed-summary .summary-Memory,
.detailed-summary .summary-Verbal,
.detailed-summary .summary-Visual{
    display: inline;
    line-height: 2.5rem;
    align-items: center;
    text-align: center;
    position: relative;
} */

.detailed-summary img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.detailed-summary span.category{
    flex: 1;
    text-align: left;
}

.detailed-summary #score{
    font-weight: var(--font-weight-bold);
    color: var(--Neutral-Dark-gray-blue);
    margin-left: 10px;
    text-align: right;
}

.summary-Reaction{
    color: var(--primary-red);
    background-color: hsl(6, 100%, 98%);
}
.summary-Memory{
    background-color: hsl(37, 100%, 97%);
    color: var(--yellow);
}
.summary-Verbal{
    background-color: hsl(180, 44%, 96%);
    color: var(--Green);
}
.summary-Visual{
    background-color: hsl(234, 63%, 97%);
    color: var(--blue);
}

/* working css */
/* .detailed-summary li{
    margin-bottom: 10px;
}

.detailed-summary li:last-child{
    margin-bottom: 0;
}
.summary-Reaction{
    color: var(--primary-red);
    font-weight: var(--font-weight-bold);
    width: 100%; 
    background-color: var();
}
.summary-Memory{
    color: var(--yellow);
    font-weight: var(--font-weight-bold);
    width: 100%; 
    background-color: var();
}
.summary-Verbal{
    color: var(--Green);
    font-weight: var(--font-weight-bold);
    width: 100%; 
    background-color: var();
}
.summary-Visual{
    display: inline;
    padding: 20px;
    color: var(--blue);
    font-weight: var(--font-weight-bold);
    width: 100%; 
    background-color: var();
}
#score{
    position: relative;
    color: var(--Neutral-Dark-gray-blue);
} */