@import url('https: //fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400..700&display=swap');

:root {
    /* #primary colors */
    --primary-red: hsl(0, 100%, 67%);
    --yellow: hsl(39, 100%, 56%);
    --Green: hsl(166, 100%, 37%);
    --blue: hsl(234, 100%, 45%);

    /* gradients colors */
    --Light-slate-blue-background: hsl(252, 100%, 67%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);
    /* --Violet-blue-circle: hsl(241, 81%, 53%); */
    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsl(241, 72%, 46%, 0);

    /* Neutral */
    --Neutral-white: hsl(0, 0%, 100%);
    --Neutral-Pale-blue: hsl(221, 100%, 96%);
    --Neutral-Light-lavender: hsl(241, 100%, 89%);
    --Neutral-Dark-gray-blue: hsl(224, 30%, 27%);

    /* font-weights */
    --font-weight-normal: 500;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

}


body>* {
    font-family: 'Hanken', 'Grotesk', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* main container */
.result-summary-container{
    display: flex;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 10px 0px 20px 0px  rgba(0, 0, 0, 0.1);
    /* background-color: var(--Neutra-Pale-blue); */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width:  500px;
    padding: 30px;
    margin: 0 auto;
    flex: 1;
}
.result-container{
    flex: 1;
    background-image: linear-gradient(var(--Light-slate-blue-background),var(--Light-royal-blue-background));
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    /* width: 100%; */
    max-width: 100%;
    margin: 0 auto;
}

/* container having result and the number */
/* container inside result-container, this container should be in circle. */

.result-secondContainer>h3{
    color: var(--Neutral-Light-lavender);
    margin: 20px;
    padding: 0;
}


.circle-content{
    padding: 20px;
}
.result-description{
    display: flex;  
    flex-direction: column;
    color: var(--Neutral-Light-lavender);
    align-items: center;
    text-align: center;
    font-size: .9rem;
}
.result-description>h2{
    color: var(--Neutral-white);
}
/* 
.summary-content{
    border: 2px solid var(--Neutral-Dark-gray-blue);
    width: fit-content;
    word-spacing: 2rem;
} */

.circle-container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-image: linear-gradient(var(--Persian-blue-circle), var(--Violet-blue-circle)); */
}
.circle-content{
    display: flex;
    flex-direction: column;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-image: linear-gradient(var(--Violet-blue-circle), var(--Persian-blue-circle));
}
.circle-content>h1{
    font-size: 3.7rem;
    margin-top: 15px;
    margin-bottom: 0;
    font-family: 'Hanken';
    font-weight: var(--font-weight-extra-bold);
    color: var(--Neutral-white);
}
.circle-content>p{
    margin: 0;
    color: var(--Neutral-Light-lavender);
}


.summery-container{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: 30px;
    flex: 1;
    /* padding: 0 auto; */
    /* margin: 0; */
    /* flex: 1; */
}

.summery-secondContainer{
    max-width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    /* border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.detailed-summary{
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap:  wrap;
    gap: 15px;
    list-style: none;
    padding: 0;
    /* margin: 0; */
}

.detailed-summary >li{
    width: 100%;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    border-radius: 13px;
    flex-wrap: nowrap;
}


.detailed-summary img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.detailed-summary span.category{
    
    flex: 1;
    font-weight: var(--font-weight-bold);
    text-align: left;
    margin: 0;
    padding: 0;
}

.detailed-summary #score{
    font-weight: var(--font-weight-bold);
    color: var(--Neutral-Dark-gray-blue);
    /* margin-left: 10px; */
    /* padding-left: 50px; */
    text-align: right;
    justify-content: space-between;
    align-items: center;
}

.summary-Reaction{
    color: var(--primary-red);
    background-color: hsl(6, 100%, 98%);
}
.summary-Memory{
    background-color: hsl(37, 100%, 97%);
    color: var(--yellow);
}
.summary-Verbal{
    background-color: hsl(180, 44%, 96%);
    color: var(--Green);
}
.summary-Visual{
    background-color: hsl(234, 63%, 97%);
    color: var(--blue);
}

.summery-container>.click_me{
    display: inline-block;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    padding: 10px;
    max-width: 100%;
    overflow: hidden;
    background-color: var(--Neutral-Dark-gray-blue);
    border-radius: 20px;
    color: var(--Neutral-white);
    font-weight: var(--font-weight-bold);
    box-shadow: none;
}
.summery-container>.click_me:hover{
    cursor: pointer;
}

.score{
    position: static;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 0;
    flex-grow: 0;
    margin: 0;
}
.score-unit{
    font-size: 12px;
    color:hsl(322, 6%, 72%);  

}
/* .blur{
    filter: blur(2px);
} */

/* Add responsive design for mobile */
@media only screen and (max-width: 768px) {

    /* Adjust layout for mobile */
    .result-summary-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        background-image: var(--Neutral-white);
        /* padding: 20px auto; */
        /* box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.1); */
        border: none;
    }

    .result-container {
        flex: 1;
        padding: 20px;
        text-align: center;
        border-radius: 50px;
        /* width: 100%; */
        max-width: 100%;
        margin: 0 auto;
        /* padding: 20px; */
    }
    
    .summery-container {
        font-size: .8rem;
        margin: 0 auto;
        /* padding: 20px; */
    }

    .detailed-summary {
        flex-wrap: wrap;
        gap: 10px;
        margin: 0 auto;
    }

    .detailed-summary>li {
        font-size: 13px;
        width: 100%;
        padding: 10px;
    }

    .summery-container>.click_me {
        box-shadow: none;
        width: 100%;
        padding: 10px;
    }

    /* Adjust font sizes for mobile */
    .circle-content>h1 {
        font-size: 2.5rem;
        font-weight: var(--font-weight-extra-bold);
    }

    .result-description {
        font-size: 1.1rem;
        padding: 20px;
    }
    .result-description>h2 {
        font-size: 1.1rem;
        margin: 10px 0px;
    }
    .result-description>p{
        margin: 0;
        font-size: .9rem;
        padding: 0px 70px;
    }

    .detailed-summary span.category {
        font-size: 12px;
    }

    .detailed-summary #score {
        font-size: 12px;
    }
}